/* figma plugin ds overwrite */
.switch__label {
  padding-right: 0 !important;
}
.switch__toggle:focus-visible + .switch__label:before {
  box-shadow: 0 0 0 2px var(--blue);
}
/* Normal css */
h3 {
  padding: 0 var(--size-xxsmall);
  margin: var(--size-xxsmall) 0 0;
  font-size: var(--font-size-small);
  letter-spacing: var(--font-letter-spacing-pos-small);
  line-height: var(--line-height);
  color: var(--black8);
  height: var(--size-medium);
  width: 100%;
  display: flex;
  align-items: center;
}
h3:first-child {
  margin-top: 8px;
}
.label {
  color: var(--dark-grey);
}
.message-box {
  padding: 0 var(--size-xxxsmall) var(--size-xxsmall) var(--size-xxsmall);
}
.message-box .message {
  font-family: var(--font-stack);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--font-letter-spacing-pos-xsmall);
  line-height: var(--font-line-height);
}
.flex-horizontal {
  display: flex;
}
.flex-half {
  flex: 0;
  flex-basis: 50%;
}
.flex-horizontal ~ .flex-horizontal {
  margin-top: var(--size-xxsmall);
}
.flex-horizontal .label {
  width: auto;
  flex-shrink: 0;
  align-items: flex-start;
  padding-top: var(--size-xxsmall);
}
.label.label--info {
  color: var(--black4);
  flex-shrink: 1;
  height: auto;
}
.flex-horizontal input[type="text"] {
  min-width: 50px;
}
.inside-label-behind--sm {
  position: absolute;
  right: var(--size-xxsmall);
}
.with-inside-label-behind-sm {
  padding-right: 50px;
}
input:invalid {
  border: 1px solid var(--red);
  outline: 1px solid var(--red);
  outline-offset: -2px;
}
:not(h3) + .section-title {
  padding-top: var(--size-xxsmall);
  margin-top: var(--size-xsmall);
  border-top: 1px solid var(--silver);
}
#eventtype {
  width: 130px;
  flex-shrink: 0;
}
.select-css {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  height: 30px;
  width: 100%;
  margin: 1px 0 1px 0;
  padding: 0px var(--size-xxsmall) 0px var(--size-xxsmall);
  overflow-y: hidden;
  background-color: var(--white);
  margin: 1px 0 1px 0;
  color: var(--black8);
  border: 1px solid var(--black1);
  border-radius: 1px;
  font-size: var(--font-size-xsmall);
}
.select-css:hover {
  border-color: var(--black1);
}
.select-css:focus {
  border: 1px solid var(--blue);
  outline: 1px solid var(--blue);
  outline-offset: -2px;
}