/*  FONTS */
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.7')
      format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.7')
      format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7')
      format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7')
      format('woff');
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url('https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7')
      format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7')
      format('woff');
}

/* figma plugin ds overwrite */
.switch__label {
  padding-right: 0 !important;
}
.switch__toggle:focus-visible + .switch__label:before {
  box-shadow: 0 0 0 2px var(--figma-color-border-brand);
}

/* Normal css */
* {
  box-sizing: border-box;
}
h3 {
  padding: 0 var(--size-xxsmall);
  margin: var(--size-xxsmall) 0 0;
  font-size: var(--font-size-small);
  letter-spacing: var(--font-letter-spacing-pos-small);
  line-height: var(--line-height);
  height: var(--size-medium);
  width: 100%;
  display: flex;
  align-items: center;
}
h3:first-child {
  margin-top: 8px;
}
.message-box {
  padding: 0 var(--size-xxxsmall) var(--size-xxsmall) var(--size-xxsmall);
}
.message-box .message {
  font-family: var(--font-stack);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--font-letter-spacing-pos-xsmall);
  line-height: var(--font-line-height);
}
.flex-horizontal {
  display: flex;
}
.flex-half {
  flex: 0;
  flex-basis: 50%;
}
.flex-horizontal ~ .flex-horizontal {
  margin-top: var(--size-xxsmall);
}
.flex-horizontal .label {
  width: auto;
  flex-shrink: 0;
  align-items: flex-start;
  padding-top: var(--size-xxsmall);
}
.label.label--info {
  color: var(--figma-color-text-secondary);
  flex-shrink: 1;
  height: auto;
}
.flex-horizontal input[type="text"] {
  min-width: 50px;
}
.inside-label-behind--sm {
  position: absolute;
  right: var(--size-xxsmall);
}
.with-inside-label-behind-sm {
  padding-right: 50px;
}
:not(h3) + .section-title {
  padding-top: var(--size-xxsmall);
  margin-top: var(--size-xsmall);
  border-top: 1px solid var(--figma-color-border);
}
/* CSS */
body {
  position: relative;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
}
