:root {
  --size-token-16px-height-24px: 16;
  --breakpoint-token-1024px-height-20px: 1024;
  --spacing-24-20-16-8-top: 24;
  --spacing-24-20-16-8-right: 20;
  --spacing-24-20-16-8-bottom: 16;
  --spacing-24-20-16-8-left: 8;
  --radius-1-2-3-4-radius-type: mixed;
  --radius-1-2-3-4-radii-top-left: 1;
  --radius-1-2-3-4-radii-top-right: 2;
  --radius-1-2-3-4-radii-bottom-right: 3;
  --radius-1-2-3-4-radii-bottom-left: 4;
  --radius-1-2-3-4-smoothing: 0.5;
  --radius-5-radius: 5;
  --radius-5-radius-type: single;
  --radius-5-smoothing: 0;
  --grid-pattern: columns;
  --grid-section-size: 8;
  --grid-gutter-size: 8;
  --grid-alignment: center;
  --grid-count: 6;
  --grid-offset: 16;
  --background: #FAE600;
  --multi-color-fill-0: #FAE600;
  --multi-color-fill-1: #FAE600;
  --effect-type: dropShadow;
  --effect-radius: 0;
  --effect-color: #0a0c0e1a;
  --effect-offset-x: 2;
  --effect-offset-y: 4;
  --effect-spread: 0;
  --motion-type: slide_in;
  --motion-duration: 0.2;
  --motion-direction: top;
  --motion-easing: ease-in;
  --motion-easing-function-x1: 0.41999998688697815;
  --motion-easing-function-x2: 0;
  --motion-easing-function-y1: 1;
  --motion-easing-function-y2: 1;
  --font-16-font-size: 16;
  --font-16-text-decoration: underline;
  --font-16-font-family: Helvetica;
  --font-16-font-weight: 700;
  --font-16-font-style: italic;
  --font-16-font-stretch: normal;
  --font-16-letter-spacing: 120;
  --font-16-line-height: normal;
  --font-16-paragraph-indent: 0;
  --font-16-paragraph-spacing: 12;
  --font-16-text-case: none;
}
