:root {
  --sizes-8: 8;
  --sizes-12: 12;
  --sizes-16: 16;
  --sizes-24: 24;
  --sizes-32: 32;
  --sizes-40: 40;
  --sizes-48: 48;
  --sizes-56: 56;
  --sizes-96: 96;
  --sizes-192: 192;
  --sizes-line-thin: 1;
  --sizes-line-medium: 2;
  --sizes-line-large: 4;
  --breakpoints-xl: 1792;
  --breakpoints-lg: 1280;
  --breakpoints-md: 1024;
  --breakpoints-sm: 568;
  --breakpoints-xs: 360;
  --breakpoints-xxs: 0;
  --radii-none: [object Object];
  --light-colors-background: #ffffffff;
  --light-colors-background-variant: #f1f2f4ff;
  --light-colors-background-highlight: #17181aff;
  --light-colors-ui-low-contrast: #f1f2f4ff;
  --light-colors-ui-medium-contrast: #d8daddff;
  --light-colors-ui-normal-contrast: #c0c2c6ff;
  --light-colors-ui-high-contrast: #a8aaafff;
  --light-colors-ui-highlight: #17181aff;
  --light-colors-semantic-error: #d4000dff;
  --light-colors-semantic-success: #00af2cff;
  --light-colors-semantic-warning: #ff8a00ff;
  --light-colors-on-background-high-emphasis: #020203ff;
  --light-colors-on-background-medium-emphasis: #515258ff;
  --light-colors-on-background-low-emphasis: #6a6d71ff;
  --light-colors-on-background-highlight-high-emphasis: #f7f8f9ff;
  --light-colors-on-background-highlight-medium-emphasis: #b2b4b9ff;
  --light-colors-on-background-highlight-low-emphasis: #787f88ff;
  --light-colors-on-ui-high-emphasis: #020203ff;
  --light-colors-on-ui-medium-emphasis: #515258ff;
  --light-colors-on-ui-low-emphasis: #676a6eff;
  --light-colors-on-ui-highlight-high-emphasis: #f7f8f9ff;
  --light-colors-on-ui-highlight-medium-emphasis: #b2b4b9ff;
  --light-colors-on-ui-highlight-low-emphasis: #787f88ff;
  --light-colors-on-always-white-high-emphasis: #020203ff;
  --light-colors-on-always-white-medium-emphasis: #515258ff;
  --light-colors-on-always-white-low-emphasis: #717579ff;
  --light-colors-special-always-white: #ffffffff;
  --light-gradients-radial-behind-icon: [object Object];
  --light-gradients-image-overlay: [object Object];
  --light-elevation-small: [object Object];
  --light-elevation-small-up: [object Object];
  --light-elevation-small-right: [object Object];
  --light-elevation-small-left: [object Object];
  --light-line-high-emphasis-below: [object Object];
  --light-line-high-emphasis-all-0: [object Object];
  --light-line-high-emphasis-all-1: [object Object];
  --light-line-high-emphasis-all-2: [object Object];
  --light-line-high-emphasis-all-3: [object Object];
  --light-line-low-emphasis-below: [object Object];
  --light-line-low-emphasis-all-0: [object Object];
  --light-line-low-emphasis-all-1: [object Object];
  --light-line-low-emphasis-all-2: [object Object];
  --light-line-low-emphasis-all-3: [object Object];
  --light-line-semantic-error-below: [object Object];
  --light-line-semantic-error-all-0: [object Object];
  --light-line-semantic-error-all-1: [object Object];
  --light-line-semantic-error-all-2: [object Object];
  --light-line-semantic-error-all-3: [object Object];
  --light-line-semantic-warning-below: [object Object];
  --light-line-semantic-warning-all-0: [object Object];
  --light-line-semantic-warning-all-1: [object Object];
  --light-line-semantic-warning-all-2: [object Object];
  --light-line-semantic-warning-all-3: [object Object];
  --light-line-semantic-success-below: [object Object];
  --light-line-semantic-success-all-0: [object Object];
  --light-line-semantic-success-all-1: [object Object];
  --light-line-semantic-success-all-2: [object Object];
  --light-line-semantic-success-all-3: [object Object];
  --dark-colors-background: #000000ff;
  --dark-colors-background-variant: #222325ff;
  --dark-colors-background-highlight: #2c2e30ff;
  --dark-colors-on-always-white-high-emphasis: #020203ff;
  --dark-colors-on-always-white-medium-emphasis: #515258ff;
  --dark-colors-on-always-white-low-emphasis: #717579ff;
  --dark-colors-ui-low-contrast: #222325ff;
  --dark-colors-ui-medium-contrast: #424447ff;
  --dark-colors-ui-normal-contrast: #4d4f53ff;
  --dark-colors-ui-high-contrast: #6e7175ff;
  --dark-colors-ui-highlight: #fdfeffff;
  --dark-colors-semantic-error: #d4000dff;
  --dark-colors-semantic-success: #00af2cff;
  --dark-colors-semantic-warning: #ff8a00ff;
  --dark-colors-on-background-high-emphasis: #f7f8f9ff;
  --dark-colors-on-background-medium-emphasis: #afb0b6ff;
  --dark-colors-on-background-low-emphasis: #848a95ff;
  --dark-colors-on-background-highlight-high-emphasis: #f7f8f9ff;
  --dark-colors-on-background-highlight-medium-emphasis: #afb0b6ff;
  --dark-colors-on-background-highlight-low-emphasis: #9197a1ff;
  --dark-colors-on-ui-high-emphasis: #f7f8f9ff;
  --dark-colors-on-ui-medium-emphasis: #bfc2c8ff;
  --dark-colors-on-ui-low-emphasis: #878991ff;
  --dark-colors-on-ui-highlight-high-emphasis: #020203ff;
  --dark-colors-on-ui-highlight-medium-emphasis: #515258ff;
  --dark-colors-on-ui-highlight-low-emphasis: #717579ff;
  --dark-colors-special-always-white: #ffffffff;
  --dark-gradients-image-overlay: [object Object];
  --dark-gradients-radial-behind-icon: [object Object];
  --dark-elevation-small: [object Object];
  --dark-elevation-small-up: [object Object];
  --dark-elevation-small-left: [object Object];
  --dark-elevation-small-right: [object Object];
  --dark-line-high-emphasis-below: [object Object];
  --dark-line-high-emphasis-all-0: [object Object];
  --dark-line-high-emphasis-all-1: [object Object];
  --dark-line-high-emphasis-all-2: [object Object];
  --dark-line-high-emphasis-all-3: [object Object];
  --dark-line-low-emphasis-below: [object Object];
  --dark-line-low-emphasis-all-0: [object Object];
  --dark-line-low-emphasis-all-1: [object Object];
  --dark-line-low-emphasis-all-2: [object Object];
  --dark-line-low-emphasis-all-3: [object Object];
  --dark-line-semantic-error-below: [object Object];
  --dark-line-semantic-error-all-0: [object Object];
  --dark-line-semantic-error-all-1: [object Object];
  --dark-line-semantic-error-all-2: [object Object];
  --dark-line-semantic-error-all-3: [object Object];
  --dark-line-semantic-warning-below: [object Object];
  --dark-line-semantic-warning-all-0: [object Object];
  --dark-line-semantic-warning-all-1: [object Object];
  --dark-line-semantic-warning-all-2: [object Object];
  --dark-line-semantic-warning-all-3: [object Object];
  --dark-line-semantic-success-below: [object Object];
  --dark-line-semantic-success-all-0: [object Object];
  --dark-line-semantic-success-all-1: [object Object];
  --dark-line-semantic-success-all-2: [object Object];
  --dark-line-semantic-success-all-3: [object Object];
  --grid-xxs: [object Object];
  --grid-xs: [object Object];
  --grid-sm: [object Object];
  --grid-md: [object Object];
  --grid-lg: [object Object];
  --grid-xl: [object Object];
  --grid-xxl: [object Object];
  --typography-interface-large-title1-bold: [object Object];
  --typography-interface-large-title1: [object Object];
  --typography-interface-large-title2-bold: [object Object];
  --typography-interface-large-title2: [object Object];
  --typography-interface-large-title3-bold: [object Object];
  --typography-interface-large-title3: [object Object];
  --typography-interface-title1-bold: [object Object];
  --typography-interface-title1: [object Object];
  --typography-interface-title2-bold: [object Object];
  --typography-interface-title2: [object Object];
  --typography-interface-title3-bold: [object Object];
  --typography-interface-title3: [object Object];
  --typography-interface-callout: [object Object];
  --typography-interface-callout-bold: [object Object];
  --typography-interface-callout-underlined: [object Object];
  --typography-interface-body: [object Object];
  --typography-interface-body-bold: [object Object];
  --typography-interface-body-underlined: [object Object];
  --typography-interface-button: [object Object];
  --typography-interface-button-bold: [object Object];
  --typography-interface-caption: [object Object];
  --typography-interface-caption-bold: [object Object];
  --typography-interface-caption-underlined: [object Object];
  --typography-interface-footnote: [object Object];
  --typography-tv-large-title: [object Object];
  --typography-tv-title1: [object Object];
  --typography-tv-title2: [object Object];
  --typography-tv-title3: [object Object];
  --typography-tv-headline: [object Object];
  --typography-tv-headline-small: [object Object];
  --typography-tv-body: [object Object];
  --typography-tv-body-bold: [object Object];
  --typography-tv-button: [object Object];
  --typography-tv-caption: [object Object];
  --typography-tv-caption-bold: [object Object];
  --typography-tv-navigation: [object Object];
  --typography-tv-small: [object Object];
}
